<p><i class="fa fa-credit-card fa-lg fa-fw"></i> <a href="http://www.americastarbooks.net/sc/productsearch.cgi?storeid=*1a5ce440a0a34abc0842724ed84a15&search_field=mccanless" target="_blank">American Star</a></p>
<p><i class="fa fa-credit-card fa-lg fa-fw"></i> <a href="http://www.barnesandnoble.com/w/who-killed-the-weatherman-jan-mccanless/1121684905?ean=9781508820796" target="_blank">Barnes & Noble</a></p>
<p><i class="fa fa-credit-card fa-lg fa-fw"></i> <a href="http://www.fictiondb.com/author/janet-mccanless~153736.htm" target="_blank">FictionDb</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:elle.kasai@gmail.com" target="_blank">janmccanless@ctc.net</a></p>
<nav class="hidden-print hidden-xs" role="navigation">
        <div>
          <button type="button" class="btn btn-small" data-toggle="modal" data-target="#saveAsPdf">
            Save as PDF
          </button>
          <div class="modal fade" id="saveAsPdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <img src="{{ "/images/resume_print_dialog.png" | prepend:site.baseurl }}" class="img-rounded" width="400" height="342">
                  <p>Warning: Currently, ResumeCards works the best on Chrome.<br>You need to adjust the CSS for Firefox/Safari.</p>
                </div>
                <div class="modal-footer">
                  <button onclick="window.print()" class="btn btn-primary">Open Print Dialog</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
